#bookContainer{
  width: 100%;
  text-align: center;
  margin-top: 10%;
}
#form{
  background: whitesmoke;
  width: 250px;
  height: 100px;
  text-align: center;
  display: inline-block;
}
#bookContainer input[type=text]{
  text-align: center;
}
#bookContainer input {
  margin: 5px;
}
