@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body, html{
  font-family: 'Open Sans', 'sans-serif';
}

th{
  font-weight: bold;
  height: 30px;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}
hr{
  width: 300px;;
}
p{
  text-align: center;
}
